{% extends 'index.html' %}
{% load static %}
{% block title %}Search{% endblock %}
{% block content %}

<h3 style="text-align: center;">User Search Results</h3>
{% for profile in profile_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <div>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile_page' profile.pk %}">{{ profile.user }}</a>
                </p>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock content %}